## Scrape lockdowns from Wikipedia

Scrape lockdown dates from a Wikipedia page that has them listed as a table.

Rerun this notebook to get up-to-date values. Exports data to both csv and json.

In [1]:
import pandas as pd

In [8]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/National_responses_to_the_COVID-19_pandemic',
                 match='COVID-19 pandemic lockdowns')

In [9]:
df = dfs[0]
df

                        vteCOVID-19 pandemic lockdowns  \
                             Countries and territories
0                                              Albania
1                                              Algeria
2                                            Argentina
3                                              Armenia
4                                            Australia
..                                                 ...
107                                      United States
108                                      United States
109                                          Venezuela
110                                           Zimbabwe
111  Outbreak ongoing: Lockdown data as of May 27, ...

                                                        \
                                                 Place
0                                              Albania
1                                              Algeria
2                                            Argentina
3                                              Armenia
4                                            Australia
..                                                 ...
107                                             Oregon
108                                          Wisconsin
109                                          Venezuela
110                                           Zimbabwe
111  Outbreak ongoing: Lockdown data as of May 27, ...

                                                        \
                                            Start date
0                                        2020-03-13[4]
1                                        2020-03-23[5]
2                                        2020-03-19[7]
3                                        2020-03-24[9]
4                                       2020-03-23[11]
..                                                 ...
107                                    2020-03-24[160]
108                                    2020-03-24[161]
109                                    2020-03-17[162]
110                                    2020-03-30[164]
111  Outbreak ongoing: Lockdown data as of May 27, ...

                                                        \
                                              End date
0                                                  NaN
1                                        2020-05-14[6]
2                                        2020-05-24[8]
3                                       2020-05-04[10]
4                                                  NaN
..                                                 ...
107                                                NaN
108                                                NaN
109                                    2020-05-13[163]
110                                    2020-05-02[165]
111  Outbreak ongoing: Lockdown data as of May 27, ...


                                                 Level
0                                             National
1                                                 City
2                                             National
3                                             National
4                                             National
..                                                 ...
107                                              State
108                                              State
109                                           National
110                                           National
111  Outbreak ongoing: Lockdown data as of May 27, ...

[112 rows x 5 columns]

In [30]:
# remove the last row
df = dfs[0].iloc[:-1, :].copy()
df

    vteCOVID-19 pandemic lockdowns                              \
         Countries and territories      Place       Start date
0                          Albania    Albania    2020-03-13[4]
1                          Algeria    Algeria    2020-03-23[5]
2                        Argentina  Argentina    2020-03-19[7]
3                          Armenia    Armenia    2020-03-24[9]
4                        Australia  Australia   2020-03-23[11]
..                             ...        ...              ...
106                  United States   New York  2020-03-22[158]
107                  United States     Oregon  2020-03-24[160]
108                  United States  Wisconsin  2020-03-24[161]
109                      Venezuela  Venezuela  2020-03-17[162]
110                       Zimbabwe   Zimbabwe  2020-03-30[164]


            End date     Level
0                NaN  National
1      2020-05-14[6]      City
2      2020-05-24[8]  National
3     2020-05-04[10]  National
4                NaN  National
..               ...       ...
106  2020-06-13[159]     State
107              NaN     State
108              NaN     State
109  2020-05-13[163]  National
110  2020-05-02[165]  National

[111 rows x 5 columns]

In [31]:
# get rid of multi-level index introduced for handling the title of the table
df.columns = df.columns.get_level_values(1)
df

,Countries and territories,Place,Start date,End date,Level
0,Albania,Albania,2020-03-13[4],NaN,National
1,Algeria,Algeria,2020-03-23[5],2020-05-14[6],City
2,Argentina,Argentina,2020-03-19[7],2020-05-24[8],National
3,Armenia,Armenia,2020-03-24[9],2020-05-04[10],National
4,Australia,Australia,2020-03-23[11],NaN,National
...,...,...,...,...,...
106,United States,New York,2020-03-22[158],2020-06-13[159],State
107,United States,Oregon,2020-03-24[160],NaN,State
108,United States,Wisconsin,2020-03-24[161],NaN,State
109,Venezuela,Venezuela,2020-03-17[162],2020-05-13[163],National
110,Zimbabwe,Zimbabwe,2020-03-30[164],2020-05-02[165],National

In [32]:
df['Start date'] = df['Start date'].str.replace(r"\[.*?\]","")
df['End date'] = df['End date'].str.replace(r"\[.*?\]","")
df

    Countries and territories      Place  Start date    End date     Level
0                     Albania    Albania  2020-03-13         NaN  National
1                     Algeria    Algeria  2020-03-23  2020-05-14      City
2                   Argentina  Argentina  2020-03-19  2020-05-24  National
3                     Armenia    Armenia  2020-03-24  2020-05-04  National
4                   Australia  Australia  2020-03-23         NaN  National
..                        ...        ...         ...         ...       ...
106             United States   New York  2020-03-22  2020-06-13     State
107             United States     Oregon  2020-03-24         NaN     State
108             United States  Wisconsin  2020-03-24         NaN     State
109                 Venezuela  Venezuela  2020-03-17  2020-05-13  National
110                  Zimbabwe   Zimbabwe  2020-03-30  2020-05-02  National

[111 rows x 5 columns]

In [34]:
df.rename(columns={'Countries and territories': 'Country'}, inplace=True)

In [35]:
# TODO: copied from another notebook, factor out to a tiny module that can be shared between notebooks
COUNTRIES_INCLUDED = ['Austria', 'Italy', 'Belgium', 'Latvia', 'Bulgaria', 'Lithuania', 'Croatia', 'Luxembourg', 
                     'Cyprus', 'Malta', 'Czechia', 'Netherlands', 'Denmark', 'Poland', 'Estonia', 'Portugal', 
                     'Finland', 'Romania', 'France', 'Slovakia', 'Germany', 'Slovenia', 'Greece', 'Spain', 
                     'Hungary', 'Sweden', 'Ireland', 'Russia', 'Norway', 'Switzerland',
                    'United Kingdom', 'Belarus']

In [38]:
df = df[df['Country'].isin(COUNTRIES_INCLUDED)]
df

In [42]:
df.set_index('Country', inplace=True)

In [49]:
assert df.loc['Germany']['End date'] == '2020-04-20to 2020-05-10'
# fixup the date manually for Germany that has irregularity compared to all other countries
df.loc['Germany']['End date'] = '2020-04-20'

In [50]:
df

,Place,Start date,End date,Level
Country,,,,
Austria,Austria,2020-03-16,2020-04-13,National
Belgium,Belgium,2020-03-18,2020-05-04,National
Croatia,Croatia,2020-03-18,2020-04-19,National
Finland,Uusimaa,2020-03-27,2020-04-16,Region
France,France,2020-03-17,2020-05-11,National
Germany,Germany,2020-03-23,2020-04-20,National
Greece,Greece,2020-03-23,2020-05-04,National
Hungary,Hungary,2020-03-28,2020-04-10,National
Ireland,Ireland,2020-03-12,2020-05-18,National
Italy,Italy,2020-03-09,2020-05-18,National
Lithuania,Lithuania,2020-03-16,2020-04-27,National
Poland,Poland,2020-03-13,2020-04-11,National
Portugal,Portugal,2020-03-19,2020-04-02,National
Romania,Romania,2020-03-25,2020-05-12,National
Russia,Moscow,2020-03-30,2020-05-12,Metropolitan area
Russia,Rest of the country[i],2020-03-28,2020-04-30,National
Spain,Spain,2020-03-14,2020-05-09,National
United Kingdom,United Kingdom,2020-03-23,NaN,National

In [57]:
to_save = (df[df['Level'] == 'National'])[['Start date', 'End date']]
to_save

                Start date     End date
Country
Austria         2020-03-16   2020-04-13
Belgium         2020-03-18  2020-05-04
Croatia         2020-03-18   2020-04-19
France          2020-03-17   2020-05-11
Germany         2020-03-23   2020-04-20
Greece          2020-03-23   2020-05-04
Hungary         2020-03-28   2020-04-10
Ireland         2020-03-12   2020-05-18
Italy           2020-03-09   2020-05-18
Lithuania       2020-03-16   2020-04-27
Poland          2020-03-13   2020-04-11
Portugal        2020-03-19   2020-04-02
Romania         2020-03-25   2020-05-12
Russia          2020-03-28   2020-04-30
Spain           2020-03-14   2020-05-09
United Kingdom  2020-03-23          NaN

In [58]:
to_save.to_csv('data/lockdowns.csv')

In [60]:
to_save.to_json('data/lockdowns.json', orient='index')